__pycache__/
*.py[cod]
*$py.class

venv/
.venv/

*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/

.env

staticfiles/
media/

.vscode/
.idea/

*.pid
*.log

node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
